h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: currentColor;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*HEADER*/
.header-logo {
  padding-top: 25px;
  padding-bottom: 19px;
}
.header-mobile-menu-open {
  background-color: transparent;
  border: transparent;
}
.header-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  color: #111;
}

.logo-icon-wrapper {
  position: relative;
  width: 21px;
  height: 22px;
}

.icon-choc-2,
.icon-choc {
  position: absolute;
  top: 0;
  left: 0;
  width: 21px;
  height: 22px;
}

.icon-choc-2 {
  fill: #fcf1e0; /* Основна заливка */
}
.ingredients-text {
  padding-top: 24px;
  padding-bottom: 32px;
}

.icon-choc {
  stroke-width: 1.8px;
  stroke: #fd9222;
  fill: none;
}

.choc-svg {
  color: #fd9222;
}
.header-wrapper {
  display: flex;
  align-items: center;
}
.header-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*HERo*/

.hero {
  border-radius: 30px;

  background: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
    url(../images/hero/hero_@1x_mob.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 60px;
}
.hero-overlay {
  padding-top: 395px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
}
.hero-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 14px;
}
/*BENEFITS*/
.svg-icon {
  fill: #fd9222;
}
.section--benefits {
  background: #1e1823;
}
.benefits-wrapper {
  padding-bottom: 20px;
  padding-top: 20px;
}
.benfts-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 18px;
}
.benefits-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
}
.benefits--li {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 22px;
  padding: 0px 28px 0px 0px;
}
.bnfts-svg-div {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
  width: 62px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 7px;
}

/*INGREDIENTS*/

.ingredients-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.img-list-ingr {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  width: 335px;
  height: 270px;
  background-color: #fff;
  border-radius: 15px;
  box-sizing: border-box;
  overflow: hidden;
  padding-top: 25px;
  margin-bottom: 20px;
  padding-left: 28px;
}

.card img {
  width: 224px;
  height: 171px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.pic-desc,
.pic-black {
  margin-top: 25px;
}

.card.orange {
  background: #fd9222;
  color: white;
}

.card.white {
  background-color: #fff;
  border: 1px solid #ffa500;
  color: #000;
}

.card.dark {
  background-color: #1a131f;
  color: white;
}

/*MADE SECTION*/

.div-made-title-pic {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 20px;
}
.gide-list {
  border-radius: 15px;
  background: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  padding: 20px 14px;
}
.step-gide {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 18px;
}

.gide-li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 6px;
  height: 6px;
  background-color: #4c4c4c; /* fill */
  border-radius: 100%; /* perfectly round */
  border: 1px solid #eceded; /* stroke */
}
.gide-li {
  position: relative;
  padding-left: 16px;
}
.section-made {
  padding-bottom: 60px;
}

/*REVIEW*/
.review-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 54px;
  padding-top: 75px;
  width: 100%;
}

.box {
  position: relative;
  background-color: rgba(17, 17, 17, 0.05);
  border-radius: 14px;
  padding: 56px 18px 24px;
  text-align: center;
}
.review {
  padding-top: 24px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 22px;
}

.review-img {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 80px;

  object-fit: cover;
}
.btn-send-review {
  margin-top: 32px;
}
.dot {
  width: 14px;
  height: 14px;
  background-color: #eceded;
  border-radius: 50%;
  border: 1px solid #eceded;
}

.dot.active {
  background-color: #fd9222;
}

.btn-send-review {
  display: flex;
  justify-content: center;
}

.leave-button {
  padding: 14px 32px;
  border: 1px solid #fd9222;
  border-radius: 30px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.leave-button:hover {
  background-color: #fd9222;
  color: white;
}

.section-reviews {
  margin-bottom: 60px;
}

/*FOOTER*/

.footer {
  background: #1e1823;
}
.p-contact-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 14px;
}

.footer--nav_list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 18px;
}
.footer-title {
  align-items: flex-start;
}
.title-footer {
  text-align: left;
  color: #fff;
  padding-top: 32px;
  padding-bottom: 32px;
}
/*BTN*/

.btn-buynow {
  border-radius: 100px;
  padding: 12px 28px;
  width: 120px;
  height: 41px;
  background: #fd9222;
  border: none;
}
.btn-now {
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 12px 28px;
  width: 159px;
  height: 41px;
  background-color: transparent;
}
.email_label {
  max-width: 100%;
  width: 100%;
  position: relative;
  display: flex;
}
.contact_button {
  background: #fd9222;
  border: none;
  border-radius: 100px;
  padding: 14px 26px;
  width: 120px;
  height: 45px;
}
.contact_input {
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  padding: 14px 18px;
  width: 167px;
  background-color: transparent;
}
.contact_form {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
}
.divider {
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 335px;
  height: 0px;
  margin: 30px 0;
}
.img-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
}
.btns-scroll {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: 32px;
}
.scroll-down-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.scroll-down-text {
  color: #fff;
  font-size: 12px;
  text-transform: lowercase;
  letter-spacing: 0.5px;
}

.scroll-down-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.svg-scroll {
  width: 10px;
  height: 6px;
  fill: #fd9222;
}

@media only screen and (min-width: 768px) {
  .hero {
    border-radius: 30px;

    background: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
      url(../images/hero/hero_@1x_tab.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 40px;
  }
  .benefits-wrapper {
    padding: 50px 32px;
  }
  .ingredients-text {
    padding-bottom: 0;
  }
  .hero-overlay {
    padding-top: 671px;
    padding-left: 72px;
    padding-right: 72px;
    padding-bottom: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 32px;
  }
  .svg-scroll {
    width: 14px;
    height: 8px;
  }
  .scroll-down-btn {
    width: 38px;
    height: 38px;
  }
  .benefits-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .benefits--li:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }

  .benefits--li:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
  }

  .benefits--li:nth-child(3) {
    grid-column: 1;
    grid-row: 2;
  }
  .ingredients--wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 50px;
  }
  .ingredients-title-text {
    width: 486px;
  }

  .gide-list {
    gap: 28px;
    padding: 32px 32px;
  }
  .made--wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 50px;
  }
  .gide-list {
    max-width: 550px;
  }
  .review-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
  }

  .divider {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 704px;
    height: 0px;
    margin-top: 50px;
    margin-bottom: 24px;
  }
  .footer--nav_list li:nth-child(3),
  .footer--nav_list li:nth-child(4) {
    display: none;
  }
  .footer--nav_list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;
  }
  .footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
  }
  .img-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
  }
  .btns-scroll {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: row;
    gap: 153px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero {
    border-radius: 30px;

    background: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
      url(../images/hero/hero_@2x_desk.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 40px;
  }
  .img-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 20px;
  }

  .titile-contacts {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; /* Для адаптиву */
    gap: 20px;
    padding-bottom: 20px;
  }

  .footer-title {
    max-width: 400px;
  }
  .p-contact-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 14px;
  }
  .footer-contact-us {
    text-align: right;
  }
  .contact-address {
    margin-top: 50px;
  }
  .footer-nav {
    gap: 590px;
  }
  .contact-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 4px;
  }

  .divider {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 20px 0;
  }
  .gide-list {
    height: 325px;
  }
  .step-gide {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 28px;
  }
  .card {
    width: 270px;
    height: 270px;
  }
  .benefits-list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap: 70px;
  }
  .btns-scroll {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: row;
    gap: 585px;
  }
  .titel-hero {
    width: 484px;
  }
}
