.titel-hero {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #fff;
}
.header-logo {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
  color: #111;
}
.accent-simply {
  font-style: italic;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
  color: #111;
}
h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}
body {
  background-color: #fafafa;
}
.accent {
  color: #fd9222;
}
.benefits-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 16px;
}
.benefits--title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.01em;
  color: #fff;
}

.ingredients-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
}
.pic-desc {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fff;
}
.pic-black {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}

.title-h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #111;
}
.gide-li {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #111;
}
.contact-address {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;

  color: #fff;
}
.review {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}
.contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fff;
}
.contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}
.footer--nav_link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: -0.02em;
  color: #fff;
}
address {
  font-style: normal;
}
.contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;

  color: #fff;
}
.footter-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  color: #111;
}
.btn-buynow,
.btn-now {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}
.scroll-btn {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  color: #fff;
}
.contact_button {
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .titel-hero {
  }
}
